<div class="info-row-data">
    <!-- id  -->
    <div>
        <p class=" mb-0 "><%= dc_id %></p>
    </div>
    <!-- location  -->
    <div>
        <p class=" mb-0 "><%= dc_location %></p>
    </div>
    <!-- url  -->
    <div>
        <p class=" mb-0 text-break "><%= dc_url %></p>
    </div>
    <!-- port  -->
    <div>
        <p class=" mb-0 "><%= dc_port %></p>
    </div>
    <!-- status  -->
    <div>
        <p class=" mb-0 "><%= dc_status %></p>
    </div>
    <!-- flag  -->
    <div>
        <p class=" mb-0 "><%= dc_flag %></p>
    </div>
</div>
