<div class="row">
    <!-- id  -->
    <div class="col d-flex flex-column">
        <h6 class="mb-2 text-capitalize" for="id">visys dc id</h6>
        <p><%= dc_id %></p>
    </div>
    <!-- location  -->
    <div class="col d-flex flex-column">
        <h6 class="mb-2 form-label text-capitalize">visys dc location</h6>
        <p><%= dc_location %></p>
    </div>
    <!-- url  -->
    <div class="col d-flex flex-column">
        <h6 class="mb-2 form-label text-capitalize">visys dc url</h6>
         <p><%= dc_url %></p>
    </div>
    <!-- port  -->
    <div class="col d-flex flex-column">
        <h6 class="mb-2 form-label text-capitalize" >
            visys dc port
        </h6>
        <p><%= dc_port %></p>
    </div>
    <!-- status  -->
    <div class="col d-flex flex-column">
        <h6 class="mb-2 form-label text-capitalize" >
            visys dc status
        </h6>
        <p><%= dc_status %></p>
    </div>
    <!-- flag  -->
    <div class="col d-flex flex-column">
        <h6 class="mb-2 form-label text-capitalize" for="flag">
            visys dc flag
        </h6>
        <p><%= dc_flag %></p>
    </div>
</div>
