<div data-card-name="shared" class="card shared-card">
    <div class="c-head">
        <p>Type: Visys Shared Details</p>
        <div class="action-list">
            <% if (action.edit) { %>
            <a href="shared/<%= data.id %> " class="edit action-btn">
                <img src="/icons/write.png" alt="delete icon" />
            </a>
            <% } %> <% if (action.delete) { %>
            <a href="delete/shared/<%= data.id %> " class="delete action-btn">
                <img src="/icons/bin.png" alt="delete icon" />
            </a>
            <% } %>
        </div>
    </div>
    <div class="c-body">
        <div class="c-item">
            <p>Name:</p>
            <p><%= data.visys_name %></p>
        </div>
        <div class="c-item">
            <p>Url:</p>
            <p><%= data.visys_url %></p>
        </div>
        <div class="c-item">
            <p>Port:</p>
            <p><%= data.visys_port %></p>
        </div>
        <div class="c-item">
            <p>user name:</p>
            <p><%= data.visys_user_name %></p>
        </div>
        <div class="c-item">
            <p>password:</p>
            <p><%= data.visys_user_password %></p>
        </div>
        <div class="c-item">
            <p>flag:</p>
            <p><%= data.visys_flag %></p>
        </div>
        <div class="c-item">
            <p>Shell url:</p>
            <p><%= data.visys_shell_url %></p>
        </div>
        <div class="c-item">
            <p>Attributes 01:</p>
            <p><%= data.visys_attribute_01 %></p>
        </div>
        <div class="c-item">
            <p>Attributes 02:</p>
            <p><%= data.visys_attribute_02 %></p>
        </div>
        <div class="c-item">
            <p>Attributes 03:</p>
            <p><%= data.visys_attribute_03 %></p>
        </div>
        <div class="c-item">
            <p>Attributes 04:</p>
            <p><%= data.visys_attribute_04 %></p>
        </div>
        <div class="c-item">
            <p>Attributes 05:</p>
            <p><%= data.visys_attribute_05 %></p>
        </div>
    </div>
</div>
