<div data-card-name="dc" class="card">
    <div class="c-head">
        <p>Type: Visys Dc Details</p>
        <div class="action-list">
            <% if (action.edit) { %>
            <a href="dc/<%= data.id %> " class="edit action-btn">
                <img src="/icons/write.png" alt="delete icon" />
            </a>
            <% } %> <% if (action.delete) { %>
            <a href="/delete/dc/<%= data.id %> " class="delete action-btn">
                <img src="/icons/bin.png" alt="delete icon" />
            </a>
            <% } %>
        </div>
    </div>
    <div class="c-body">
        <div class="c-item">
            <p>Id:</p>
            <p><%= data.visys_dc_id %></p>
        </div>
        <div class="c-item">
            <p>Url:</p>
            <p><%= data.visys_dc_url %></p>
        </div>
        <div class="c-item">
            <p>Port:</p>
            <p><%= data.visys_dc_port %></p>
        </div>
        <div class="c-item">
            <p>Location:</p>
            <p><%= data.visys_dc_location %></p>
        </div>
        <div class="c-item">
            <p>Status:</p>
            <p><%= data.visys_dc_status %></p>
        </div>
        <div class="c-item">
            <p>Flag:</p>
            <p><%= data.visys_dc_flag %></p>
        </div>
    </div>
</div>
