<%- include('../partials/header.ejs') %>
<section data-barba="container" data-barba-namespace="insert">
    <!-- control btns  -->
    <%- include('../partials/components/controlBtns.ejs') %> 
    <div class="container">
        <!-- data form  -->
        <div class="user-form">
            <p class="min-sec-title">Input your data:</p>
            <div class="form-wrap">
                <% if (type === 'details') { %> 
                    <%- include('../partials/forms/detailsForm.ejs') %> 
                <% } else if (type === 'dc') { %> 
                    <%- include('../partials/forms/detailsDcForm.ejs') %> 
                <% } else if (type === 'shared') { %> 
                    <%-  include('../partials/forms/detailsSharedForm.ejs') %>
                <% } %> 
            </div>
        </div>
        <!-- recent added  -->
        <div class="recent-added">
            <div>
                <p class="section-title">Most recent records:</p>
                <div class="card-list">

                </div>

                <!-- details shared card  -->
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>
