<%- include('../partials/header.ejs') %>
<section data-barba="container" data-barba-namespace="insert">
    <%- include('../partials/components/alert.ejs', {...alert}) %> 
    <!-- control btns  -->
    <%- include('../partials/components/controlBtns.ejs', {type: type}) %> 
    <div class="container">
        <!-- data form  -->
        <%- include('../partials/components/formList.ejs', {
            type: type,
        }) %> 
        <!-- recent added  -->
        <% if (data.length) { %> 
            <div class="recent-added">
            <div>
                <p class="section-title">Most recent records:</p>
                <div class="card-list">
                    <% if (data.type === 'details') { %> 
                    <h1>Details</h1>
                    <% } else if (data.type === 'dc') { %> 
                        <h1>Dc</h1>
                    <% } else if (data.type === 'shared') { %> 
                        <h1>Shared</h1>
                    <% } %>
                </div>
                 
            </div>
        </div>
        <% } %> 
        
    </div>
</section>
<%- include('../partials/footer.ejs') %>
