<%- include('../partials/header.ejs') %>
<section data-barba="container" data-barba-namespace="records">
    <div class="container">
        <div class="sec-title-wrap">
            <h1 class="section-title">All record list</h1>
        </div>
        <!-- control button  -->
        <div class="table-control">
            <p class="min-sec-title">Select Record Container:</p>
            <div class="btn-wrap">
                <a
                href="all"
                    style="flex-shrink: 2" class="<%= type === 'all' ? "active": "" %> "
                >
                    All
                </a>
                <a href="details" class="<%= type === 'details' ? "active": "" %> ">visys details</a>
                <a href="dc" class="<%= type === 'dc' ? "active": "" %> ">visys dc details</a>
                <a href="shared" class="<%= type === 'shared' ? "active": "" %> ">visys shared details</a>
            </div>
        </div>
        <!-- all of your record list  -->
        <div class="card-list report-list">
            <%- include('../partials/cards/detailsCard.ejs') %>
            <%- include('../partials/cards/detailsCard.ejs') %>
            <%- include('../partials/cards/detailsCard.ejs') %>
            <%- include('../partials/cards/detailsCard.ejs') %>
            <%- include('../partials/cards/detailsDcCard.ejs') %>
            <%- include('../partials/cards/detailsDcCard.ejs') %>
            <%- include('../partials/cards/detailsDcCard.ejs') %>
            <%- include('../partials/cards/detailsDcCard.ejs') %>
            <%- include('../partials/cards/detailsSharedCard.ejs') %>
            <%- include('../partials/cards/detailsSharedCard.ejs') %>
            <%- include('../partials/cards/detailsSharedCard.ejs') %>
            <%- include('../partials/cards/detailsSharedCard.ejs') %>
        </div>
    </div>
</section>
<%- include('../partials/footer.ejs') %>
