<%- include('./Partials/header.ejs') %>
<!-- navbar  -->
<%- include('Partials/navbar.ejs') %>
<!-- form input  -->
<section class="mt-5">
    <div class="container">
        <form action="/delete" method="post">
            <legend class="mb-5">
                Please search the data, You want to delete
            </legend>
            <div class="row">
                <!-- id  -->
                <div class="col d-flex flex-column">
                    <label class="mb-2 form-label text-capitalize" for="id"
                        >visys dc id</label
                    >
                    <input class="form-control" type="text" name="id" />
                </div>
                <!-- location  -->
                <div class="col d-flex flex-column">
                    <label
                        class="mb-2 form-label text-capitalize"
                        for="location"
                        >visys dc location</label
                    >
                    <input class="form-control" type="text" name="location" />
                </div>
                <!-- submit button  -->
                <div class="col-1 d-flex align-items-end">
                    <button class="btn btn-primary" type="submit">
                        Search Data
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- retrived result data  -->
<% if (result) { %>
<section class="mt-5">
    <div class="container mb-5">
        <h1>Your searched data</h1>
    </div>
    <div class="container">
        <div class="info-table">
            <!-- title  -->
            <div class="info-row-title">
                <!-- id  -->
                <div class="">
                    <h6 class="mb-2 text-capitalize" for="id">visys dc id</h6>
                </div>
                <!-- location  -->
                <div class="">
                    <h6 class="mb-2 form-label text-capitalize">
                        visys dc location
                    </h6>
                </div>
                <!-- url  -->
                <div class="">
                    <h6 class="mb-2 form-label text-capitalize">
                        visys dc url
                    </h6>
                </div>
                <!-- port  -->
                <div class="">
                    <h6 class="mb-2 form-label text-capitalize">
                        visys dc port
                    </h6>
                </div>
                <!-- status  -->
                <div class="">
                    <h6 class="mb-2 form-label text-capitalize">
                        visys dc status
                    </h6>
                </div>
                <!-- flag  -->
                <div class="">
                    <h6 class="mb-2 form-label text-capitalize" for="flag">
                        visys dc flag
                    </h6>
                </div>
            </div>
            <!-- result  -->
            <%- include('./Partials/detailsResult.ejs', {...result}) %>
        </div>
        <!-- delete btn  -->
        <div class="mt-4 text-center">
            <a href="/delete/<%= result.dc_id %> " class="btn btn-danger"
                >Delete This Data</a
            >
        </div>
    </div>
</section>
<% } else { %>

<% } %>

<!-- page footer  -->
<%- include('./Partials/footer.ejs') %>
