<%- include('./Partials/header.ejs') %>
<!-- navbar  -->
<%- include('Partials/navbar.ejs') %>
<!-- alert box  -->
<% if (alert.status) { %> <%- include('./Partials/Alert.ejs', {...alert}) %> <%
} %>
<!-- insert tweak button  -->
<section id="table_selection" class="mt-5">
    <div class="container">
        <label class="form-lable mb-2" for="selection btn"
            >Which info you like to insert?</label
        >
        <select
            class="form-select"
            name="table_select"
            id="table_select_btn"
            style="max-width: 250px"
        >
            <option value="details">Visys Details</option>
            <option value="dc_details">Visys Dc Details</option>
            <option value="shared_details">Visys Shared Details</option>
        </select>
    </div>
</section>
<!-- form input  -->
<%- include('./Partials/insertForm/dcDetailsInsert.ejs', {styleClass: "d-none"}) %>
<%- include('./Partials/insertForm/sharedDetailsInsert.ejs') %> <%-
include('./Partials/insertForm/detailsInsert.ejs') %>
<!-- data output  -->
<% if (result.length) { %>
<section class="mt-5">
    <h3 class="text-center my-5">New Inserted data</h3>
    <div class="container">
        <div
            class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 mb-3"
        >
            <% result.forEach((data) => { %> <%-
            include('./Partials/details.ejs', {data: data}) %> <% }) %>
        </div>
    </div>
</section>
<% } %>
<!-- footer  -->
<%- include('./Partials/footer.ejs') %>
<!-- js link  -->
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
