<%- include('./Partials/header.ejs') %>
<!-- navbar  -->
<%- include('Partials/navbar.ejs') %>
<!-- form input  -->
<section class="mt-5">
    <div class="container">
        <form action="/update" method="post">
            <legend class="mb-5">Search the data you want to update.</legend>
            <div class="row">
                <!-- id  -->
                <div class="col d-flex flex-column">
                    <label class="mb-2 form-label text-capitalize" for="id"
                        >visys dc id</label
                    >
                    <input class="form-control" type="text" name="id" />
                </div>
                <!-- location  -->
                <div class="col d-flex flex-column">
                    <label
                        class="mb-2 form-label text-capitalize"
                        for="location"
                        >visys dc location</label
                    >
                    <input class="form-control" type="text" name="location" />
                </div>
                <!-- submit button  -->
                <div class="col-1 d-flex align-items-end">
                    <button class="btn btn-primary" type="submit">
                        Search Data
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- retrived result data  -->
<% if (result) { %>
<section class="mt-5">
    <div class="container mb-5">
        <h1>Your searched data</h1>
    </div>
    <div class="container">
        <form action="/update/<%= result.id %>"  method="post">
            <div class="info-table">
                <!-- title  -->
                <div class="info-row-title">
                    <!-- id  -->
                    <div class="">
                        <h6 class="mb-2 text-capitalize" for="id">
                            visys dc id
                        </h6>
                    </div>
                    <!-- location  -->
                    <div class="">
                        <h6 class="mb-2 form-label text-capitalize">
                            visys dc location
                        </h6>
                    </div>
                    <!-- url  -->
                    <div class="">
                        <h6 class="mb-2 form-label text-capitalize">
                            visys dc url
                        </h6>
                    </div>
                    <!-- port  -->
                    <div class="">
                        <h6 class="mb-2 form-label text-capitalize">
                            visys dc port
                        </h6>
                    </div>
                    <!-- status  -->
                    <div class="">
                        <h6 class="mb-2 form-label text-capitalize">
                            visys dc status
                        </h6>
                    </div>
                    <!-- flag  -->
                    <div class="">
                        <h6 class="mb-2 form-label text-capitalize" for="flag">
                            visys dc flag
                        </h6>
                    </div>
                </div>
                <!-- result  -->
                <div class="info-row-data">
                    <!-- id  -->
                    <div class="me-3">
                        <input
                            class="form-control"
                            type="text"
                            name="id"
                            value="<%= result.dc_id %>"
                        />
                    </div>
                    <!-- location  -->
                    <div class="me-3">
                        <input
                            class="form-control"
                            type="text"
                            name="location"
                            value="<%= result.dc_location %>"
                        />
                    </div>
                    <!-- url  -->
                    <div class="me-3">
                        <input
                            class="form-control"
                            type="text"
                            name="url"
                            value="<%= result.dc_url %>"
                        />
                    </div>
                    <!-- port  -->
                    <div class="me-3">
                        <input
                            class="form-control"
                            type="text"
                            name="port"
                            value="<%= result.dc_port %>"
                        />
                    </div>
                    <!-- status  -->
                    <div class="me-3">
                        <input
                            class="form-control"
                            type="text"
                            name="status"
                            value="<%= result.dc_status %>"
                        />
                    </div>
                    <!-- flag  -->
                    <div class="me-3">
                        <input
                            class="form-control"
                            type="text"
                            name="flag"
                            value="<%= result.dc_flag %>"
                        />
                    </div>
                </div>
            </div>
            <!-- delete btn  -->
            <div class="mt-4 text-center">
                <button  class="btn btn-primary"
                    >Modify Data</button
                >
            </div>
        </form>
    </div>
</section>
<% } else { %> <% } %>
<!-- page footer  -->
<%- include('./Partials/footer.ejs') %>
